<div id="container">
  <h1>Payroll Calculator</h1>
  <form>
    <!-- <select>
    <option *ngFor="let occupation of occupations">{{occupation.name}}</option>
  </select> -->
    <div class="form-field">
      <label class="label">Experience</label>
      <input class="select" required type="number" min="0" max="100">
    </div>
    <div class="form-field">
      <label for="cars" class="label">Occupation</label>
      <select class="select" required [(ngModel)]="occupation" name="occupation">
        <option *ngFor="let occupation of data.occupations" >{{occupation.name}}</option>
      </select>
    </div>
    <div class="form-field">
      <label for="cars" class="label">City</label>
      <select class="select" required [(ngModel)]="city" name="city">
        <option *ngFor="let basicLocationTaxRate of data.basicLocationTaxRate">{{basicLocationTaxRate.city}}</option>
      </select>
    </div>
   <div>
    </div>
    <label for="cars" class="label">Income Year</label>
    <select class="select" required [(ngModel)]="incomeYear" name="incomeYear">
    <option *ngFor="let basicLocationTaxRate of data.basicLocationTaxRate">{{basicLocationTaxRate.incomeYear}}</option>
  </select>
  <div>
  <button type="submit">Calculate Salary</button>
</div>
  </form>
</div>
